/.idea/
/mingw-w64-boost/boost_1_80_0.tar.bz2
/mingw-w64-boost/mingw-w64-boost-1.80.0-1-x86_64-build.log
/mingw-w64-boost/mingw-w64-boost-1.80.0-1-x86_64-prepare.log
/mingw-w64-boost/logpipe.ZEGroUsY.lnk
/mingw-w64-boost/src/
/mingw-w64-boost/pkg/
